extends ../layout

block content

	h1 Update Genre
	hr

	div(class="row")
		div(class="col-sm-6")
			form(method="POST", action=`/catalog/genre/${data.genre._id}/update`, class="form-group")
				label(for="name") Genre Name
				input(type="text", name="name", class="form-control", value=data && data.genre ? data.genre.name : '')
				if(errors)
					each error in errors
						div(class="text-danger")
							small #{error.msg}
				br
				div(class="btn-group")
					button(class="btn btn-xs btn-primary", type="submit") Submit
					a(class="btn btn-xs btn-danger", href="/catalog/genres") Cancel