extends ../layout

block content
	h1 Delete Book Instance
	hr
	if(data)
		h4(class="text-primary") Imprint : 
			= data.instance.imprint
		p 
			b Id : 
			= data.instance._id
		p
			b Status :  
			= data.instance.status
		br
		form(class="form-group", action=`/catalog/bookinstance/${data.instance._id}/delete`, method="POST")
			h4(class="text-danger") Are you sure you want to Proceed ?
			div(class="btn-group")
				button(class="btn btn-xs btn-danger", type="Submit") Delete
				a(href="/catalog/bookinstances", class="btn btn-xs btn-default") Cancel